:root {
    --primary-color: #35bdd6;
  }
.pagina {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    /* background: #2B8689; */
   
}
*,
*::before,
*::after {
      box-sizing: border-box;
}
  
.container {
    width: 60%;
    min-width: 380px;
    
}
  
.baner {
    background-color: #35bdd6;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    
}
.texto-baner { 
    color: white;
}
  
h2,p {
    color: #666;
}
  
  
/**** Estilos globais  ****/
label {
    display: block;
    margin-bottom: 0.5rem;
}
    
input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
    
.text-center {
    text-align: center;
}
    
/**** Progressbar ****/
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 4rem 2rem;
    
}
    
.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}
    
.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}
    
.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.progress-step::before {
    counter-increment: step;
    content: counter(step);
    font-weight: 500;
}
    
.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    font-weight: 500;
    color: #666;
}
    
.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
}
    
/**** Formulario ****/
form {
    width: 70%;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}
    
.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}
    
.form-step-active {
    display: block;
}
    
.input-group {
    margin: 2rem 0;
}
    
@keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
}
    
/**** Botoes ****/
.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 1.5rem;
    justify-content: center;    
}
    
.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    /* color: #f3f3f3; */
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}
  
.botao-inicial {
    display: grid;
    grid-template-columns: repeat(1, 100px);
    justify-content: center;
    font-weight: 600;
    color: white;
}
.btn:hover {
    /* box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color); */
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #666;
}
  
  
